

/*****************************/		
/*        GENERAL             *
/*****************************/	
body{
	background:url('../images/bg-gradient.jpg');
}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}



/*****************************/		
/*  CSS SPRITE NAVIGATION     *
/*****************************/	
	
#bluenav ul li a {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	height: 73px;
	width: 130px;
	background-image:url('../images/menu-sprite.png');
	float: left;
	background-position-y: 73px;
     
}

#bluenav ul li a:hover {
	background-position-y: -3px;
}

li.about a {
	background-position-x: 270px;
}

li.contact a {
	background-position-x: 140px;
}

#para{
	width: 600px;
	background-color: white;
	margin: 0 auto;
	padding: 20px;
}
	