nav{
	width: 600px;
	margin: 0 auto;

}

li{
	float: left;
	width: 190px;
	margin: 0 5px;
	height: 40px;

}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both; /* clear means nothing can float along */
}

nav ul{
	padding: 0;
}

nav ul li a {
	background-color: #FF6666;
	width: 190px;
	display: block; /*to make li a block element-block is inline element*/
	height: 40px;
	text-align: center;
	color: white;
	text-decoration: none;
	font-size: 22px;
	vertical-align: middle;
	padding-top: 13px; /*to push the text to the middle of the box*/
}

nav	ul li a:hover, a.active {
	background-color: #FF2266;
}



