/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}





#socialmedia{
    margin:0px;
    float: right;
}

#socialmedia ul li a {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    height: 60px;
    width: 60px;
    background-image: url('../images/socialNav.png');
    float: right;
    background-position-y: 60px;
    
}

#socialmedia li{
    float: right;
}

#socialmedia ul li a:hover {
    background-position-y: -4px;
}

li.facebook a {
    background-position-x: 130px;
}

li.twitter a {
    background-position-x: 190px;
}

li.rss a {
    background-position-x: 70px;
}

body {
    background: ;
    color: black;
    text-align: left;
    font: 14px/20px georgia, times, "Times New Roman", serif;
    margin: 0;
    padding: 0;
}
   
#wrapper {
width: 960px;
margin: 0 auto;
text-align: left;
padding-bottom: 30px;
}

#logo {
    display: block;
    float: left;
    width: 110px;
    height: 110px;
    border-radius: 110px; /* CSS3 */
    -moz-border-radius:110px;/* Firefox */
    -webkit-border-radius:110px;/* Safari, Chrome */
    padding: 20px;
    color:#38291A ;
    font-size: 37px;
    text-align: center;
    text-transform: uppercase;
    background: #B8BE1B;
    font-family: 'Rum Raisin', sans-serif;
    font-weight: bolder;
    
}


h1{
    font-family: 'Rum Raisin', sans-serif;
    font-size: 50px;
    margin-top: 20px;
    /*margin-left: 5px;*/
    text-align: left;
    /*color: #B44C00*/;
    color: #B86B00;
}

h2{
    font-family: 'Rum Raisin', sans-serif;
    font-size: 1.8em;
    margin-top: 50px;
    text-align: left;
    color: #B86B00;
    clear: left;
    margin-bottom: 9px;
    padding-bottom: 5px;
    line-height: 1.3em;
    border-bottom: 1px dashed #B8BE1B;
    font-style: italic;
}

h3{
    /* color green*/
    font-size: 2em;
    text-align: left;
    color: #B8BE1B;
    font-family: 'Rum Raisin', sans-serif;
   
}


.invalidtext{
    color: red;
    font-weight: bolder;
}

.calorietext{
    /* color chocolate brown*/
    font-size: 1.25em;
    text-align: left;
    color: #81673A;
    font-weight: bolder;
    margin-bottom: -25px;
}

.totalCalText{
     /* color chocolate brown*/
    font-size: 1.25em;
    text-align: left;
    color: #000;
    font-weight: bolder;
    padding-left: 20px;
    margin-top: 60px;
}

/*form text*/
.calorie{
    margin-top: 20px;
    font-size: 20px;

}
/*speech bubble text*/
h4{
    color: #38291A;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Rum Raisin', sans-serif;
} 

/*calorie counter headings*/
h5{
    font-size: 35px;
    text-align: left;
    color: #38291A;
    font-weight: bolder;
    font-family: 'Rum Raisin', sans-serif;
     border-bottom: 1px dashed #B8BE1B;
     margin-bottom: 9px;
     margin-top: 60px;
    padding-bottom: 5px;
    line-height: 1.3em;
}

input[type="checkbox"] {
display: inline;
width: 20px;
height: 20px;
margin-right: 3px;
margin-left: 10px;
text-indent: 10px;
}


#calorieButton{
    margin-top: 50px;
    float: left;
    margin-right: 20px;
    font-size: large;

}

.dashed{
border-bottom: 1px dashed #B8BE1B;
}

.parabox{
    width: 556px;
    height: 500px;
    background: #432E24;

}

.paraboxBlog{
    width: 556px;
    height: 900px;
    background: #432E24;

}

  header{
    width: 960px;
    height: 110px;
    padding: 21px 0 0 0;
    display: block;
  } 
     



.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

span{

    vertical-align: -28px;
    line-height:0px;
    text-align: center;
}

#logo a{
    text-decoration: none;
    display: block;

}

nav {
    float: left;
    width: 560px;
    height: 80px;
    margin-left:160px;
    padding-left: 20px;
    padding-top: 30px;
     border-bottom: solid #81673A 4px;
     color: #38291A;
}
#navigate li{
    float: left;
    width: 140px;
    height: 80px;
    color: #38291A;
}

#navigate ul li a {
    width: 100px;
    display: block; /*to make li a block element-block is inline element*/
    height: 80px;
    text-align: left;
    color: #38291A;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Rum Raisin', sans-serif;
    text-transform: uppercase;
    position: relative;
    bottom: -45px;
   } 

   #textcentre{
    position: relative;
    bottom: -10px;
   }

#navigate ul li a:link {
    color: #38291A;
}

#navigate ul li a:hover {
    color: #B8BE1B;
}

#navigate ul li a.active{
    color: #B8BE1B;
}
    
br{
    line-height: 1em;
}

#pageimg{
    padding-left: 20px;
}

#imgtext{
    vertical-align: bottom;
    font-family: 'Rum Raisin', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    text-align: left;
    color:#B8BE1B; 
}


    .box {
    float: left;
    width: 250px;
    height: 250px;
    margin: 20px;
    padding: 10px;
    color: white;
    font-size: 20px;
    background: #82683B;
    vertical-align: bottom;
}

span.below{
    vertical-align: -100px;
}
.bgimg1{
    background: url('../images/quinoa.jpg');

}

.bgimg2{
     background: url('../images/avocado.jpg');
}

.bgimg3{
     background: url('../images/figs.jpg');
}

.bgimg4{
     background: url('../images/fruitsalad.jpg');
}

.bgimg5{
    background: url('../images/caulicurry.jpg');
}

.bgimg6{
    background: url('../images/soup.jpg');
}

hr {
    border: 0;
    border-style:solid;
    width: 100%;
    color: white;
    background-color: white;
    height: 4px;
    text-align: center;
    margin-bottom: 30px;
}



.floatright{
    float: right;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 250px;
    width: 250px;
}

.para{
    text-align: left;
    font-family: georgia, times, "Times New Roman", serif;
    font-size: 1.1em;  
    color: #000; 
}

.paraone{
    /*color: white;*/
    text-align: left;
    font-family: georgia, times, "Times New Roman", serif;
    /*font-family: 'Rum Raisin', sans-serif;*/
    font-size: 1.1em;  
    color: white; 
}

.greentext{
    color: #B8BE1B;
}

.pright{
    color: #000;
}

#footmargin{
    margin-top: 30px;
    padding-top: 30px;
    border-top: solid #82683B; 
    height: 4px;
    text-align: left;
   /* color: #82683B;*/
        
}

#foot {  /*keeps the footer at the bottom of the page*/
    position : absolute;
    bottom : 0;
    height : 40px;
    margin-top : 50px;
  }


.footlogo{
    text-align: left;
    margin-top: -2px;
    /*width: 100px;
    height: 86px;
    background: #38291A;*/
    color: #B8BE1B; 
    font-family: 'Rum Raisin', sans-serif;
    font-size: 22px;
}

.alignleft{
    text-align: left;
}

.imgfloat{
    float:right;
    margin-left: inherit;
    /*margin-right: 10px;*/
    width:80px;
    height: 80px;


}

/*Robot*/


.robot{
  height: 150px;
  width: 300px;
  margin: 0 auto;
}

#beep{
  width: 5px;
  height: 0px;
  border: 5px solid transparent;
  border-top: 10px solid #777;
  border-bottom: 80px solid #888;
}

@keyframes blink{
    50%{
        background: radial-gradient(circle, yellow 15%, transparent 40%), #cc5;
    }
                }

@-webkit-keyframes blink{
    50%{
        background:-webkit-radial-gradient(circle, yellow 15%, transparent 40%), #cc5;
    }
}

@-moz-keyframes blink{
    50%{
        background: -moz-radial-gradient(circle, yellow 15%, transparent 40%), #cc5;
    }
}

#brain{

  animation: blink .5s infinite;  
  -webkit-animation: blink .5s infinite;
  -moz-animation: blink .5s infinite;
  background: radial-gradient(circle, white 15%, transparent 40%), #cc5;
  background: -moz-radial-gradient(circle, white 15%, transparent 40%), #cc5; 
  background: -webkit-radial-gradient(circle, white 15%, transparent 40%), #cc5;
  background-size: 75px 150px;
  height: 150px;
  width: 150px;
  border-radius: 60px 60px 10px 10px;
  border-bottom: 40px solid #666;
}

#torso{
  height: 0;
  width: 140px;
  border-top: 300px solid #bc6;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-radius: 20px 20px 100px 100px;
  display: none;
}

#leg{
  height: 40px;
  width: 40px;
  background: #ccc;
  border-radius: 40px;
  border: 15px solid #999;
}

#torso-round {
height: 0;
width: 140px;
border-top: 300px solid #bc6;
border-left: 150px solid #bc6;
border-right: 150px solid #bc6;
border-radius: 150px 150px 100px 100px;
}

/*speech bubble*/


#speech1{
    text-align: left;
    margin-bottom: 60px;
}

#speech2{
    text-align: left;
    margin-bottom: 60px;
    display: none;
}  

#speech3{
    text-align: left;
    margin-bottom: 60px;
    display: none;
}  


.speech-bubble {
    background-color: #f8f8f8;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    padding: 20px;
    position: absolute;

}

.speech-bubble .arrow {
    border-style: solid;
    position: absolute;
}

 
.bottom {
    border-color: #c8c8c8 transparent transparent transparent;
    border-width: 8px 8px 0px 8px;
    bottom: -9px;
}
